body{
   width:100%;
   text-align:center;
   background-color:#c4ffab;
	/* background-size: 1000% 1000%;
    animation: Gradient 50s ease infinite; */
    margin-right: auto;
  margin-left : auto;
}



.button_wrapper{
   text-align:center;
}

.ui_cards{
   text-align:center;
}

/*ここから入力画面用*/
.ui.left.right.labeled.input {
    width: 70%;
}

.ui.basic.label {
    width: 20%;
}

.ui.left.right.labeled.input input {
    width: 45%;
}

.ui.basic.label.unit {
    width: 10%;
}
/*ここまで入力画面用*/

/*ここから設定画面*/



/*ここまで設定画面*/

#wrap{

   width: 960px;
   margin: 0 auto;
   text-align:center;
}
.main.container {
   margin-top: 30px;
}

.logout {
   margin-bottom: 20px !important;
}

.underline {
   text-decoration: underline;
}

.post_timestamp {
   font-size: 15px;
   color: grey;
}
.post_text {
   font-size: 25px;
   font-weight: 300;
}
.post_category {
   color: #0f0f0f !important;
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.cp_menu {
	max-width: 700px;
	margin: 0 auto;
	padding: 0;
}
.cp_menu a {
	display: block;
	padding: 10px;
	text-decoration: none;
	color: #000000;
	line-height: 1;
}
.cp_menu label {
	display: block;
	position: relative;
	margin: 0 0 2px 0;
	padding: 12px;
	line-height: 1;
	color: #ffffff;
	background: #59B755;
	cursor: pointer;
}
.cp_menu label::before {
	position: absolute;
	content: '▼';
	color: #ffffff;
	right: 0.5em;
	top: 25%;
}
.cp_menu input {
	display: none;
}
.cp_menu ul {
	margin: 0;
	padding: 0;
	background: #f4f4f4;
	list-style: none;
}

.grid.container {
    margin-top: 2em;
    margin-bottom: 2em;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.cp_menu li {
	overflow-y: hidden;
	max-height: 0;
	transition: all 0.5s;
}
/*リストが増えたらULごとに追加してください*/
#cp_menu_bar1:checked ~ #link1 li,
#cp_menu_bar2:checked ~ #link2 li {
	max-height: 46px;
	opacity: 1;
}
@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
